@import "header.css";
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "splide.css";
@import "item.css";

.required:after{
    content:'*';
    color:red;
}

div.footerflex{
    margin-left: 10px;
}
