.header {

    top: 0;
    z-index: 2;
    width: 100%;
    background-color: white;
  }

  .content {
    padding: 16px;
  }

  .stickyheader {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .stickyheader + .content {
    padding-top: 102px;
  }

.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
}

.progress-bar {
    height: 8px;
    background: #04AA6D;
    width: 0%;
}
